*{
    margin: 0;
}

body{
    background-color: white;
}

.encabezado{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(90deg, #0d0d1a, #1a1a33, #2e2e40, #1a1a33, #0d0d1a);
    height: 7em;
    color: white;
}

.contenedor-principal{
    background-color:white;
    width: 100%;
    height: 130vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-centrado{
background-color: transparent;
    width:90%;
    height: 120vh;
    
    

}


.contenedor-mensaje{
   
    background-color: white;
    width:100%;
    height: 30%;
    display: flex;

}


.contenedor-tema{
    background-color: transparent;
    border: 1px solid #777;
    width: 100%;
    height: 70%;

}


.contenedor-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-top-left-radius: 20px;
    background: linear-gradient(90deg, #1f1f37, #1a1a33, #2e2e40, #6c6ca6, #1a1a22);
    color: white;
    width: 50%;
   
}

 ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

.contenedor-imagen{
    display: flex;
    border: 1px solid  #777;
    border-top-right-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    width: 50%;
}

#imagen-1{
    width: 80%;
    height: 80%;
    border-radius: 50%;

}

.contenedor-tema{
    display: flex;

   
}

#tema{
    font-size: 30px;
    /* background: linear-gradient(90deg, #0d0d1a, #1a1a33, #2e2e40, #1a1a33, #0d0d1a);
    -webkit-background-clip: text;
    color: transparent;
  
    background-clip: text; */
}


.contenedor-palabras{
 background-color: #f1f1f6;
width: 61.5%;
    height: auto;
    /* color: white; */
   
    
}


.contenedor-sopa{
  /* background: linear-gradient(90deg,#a9a9b1 , #aeaeb4, #8c8c91, #8d8d95,#dbdbe0 ); */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 7px;
    margin-top: 20px;
   
    padding: 10px;
}


.container {
    display: inline-block;
    margin: 20px;
  }
  
  #sopa-letras {
    display: grid;
    grid-template-columns: repeat(10, 40px); /* 10 columnas, ajusta según el tamaño de tu sopa */
    grid-gap: 2px;
  }
  
  #sopa-letras div {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    user-select: none; /* Evita selección de texto */
  }
  
  #sopa-letras div.seleccionado {
    background-color: rgb(226, 221, 221); /* Resalta las letras seleccionadas */
  }
  
  /* .palabras {
    position: absolute;
    left: -1;
  } */
  
  .palabras ul {
    list-style-type: none;
    padding: 0;
  }
  
  .palabras li {
    font-size: 20px;
    margin: 5px 0;
  }
  
  .encerrado{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5em;
    padding: 20px;
  }

  .boton-inicio {
    width: 20%;
    padding: 12px;
    background: linear-gradient(135deg, #16213e 0%, #1d4d5f 25%, #21bf73 50%, #1d4d5f 75%, #16213e 100%);
    border: 1px solid white;
color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}


#resultado{
  background-color: #dbdbe0;
  font-size: 23px;
}



    /* Footer */
    footer {
      background: linear-gradient(90deg, #0d0d1a, #1a1a33, #2e2e40, #1a1a33, #0d0d1a);
      color: white;
      text-align: center;
      padding: 1em;
    }
    
  .logo {
    width: 5em;
    height: auto;
    border-radius: 50%;
  }
  
  .logo:hover { 
    transition: transform 0.5s ease;
    scale: (1.2);
    border-radius: 50%;
  }
  

  .ultimo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  

#p-uni a {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none; /* Elimina el subrayado predeterminado */
}

#p-uni a:visited, #p-uni a:active, #p-uni a:hover {
  text-decoration: none; /* Elimina subrayado en estado hover, activo o visitado */
  color: rgb(0, 0, 0); /* Mantiene el texto transparente en todos los estados */
}